
<nav class="navbar navbar-light bg-light justify-content-between">
  <h2 class="text-success">References List</h2>
  <form class="form-inline">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [routerLink]="['/addreferences']">Add</button>
  </form>

</nav>
<table class="table table-striped">
  <thead>
  <tr>
    <th>nomAr</th>
    <th>nomFr</th>
    <th>nomAn</th>
    <th>utilisateur</th>
    <th>operation</th>
    <th>isSelected</th>
    <th>isDeleted</th>
    <th>createdDate</th>
    <th>createdBy</th>
    <th>updatedDate</th>
    <th>updatedBy</th>
    <th>action</th>


  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let references of references">
    <td>{{references.nomAr}}</td>
    <td>{{references.nomFr}}</td>
    <td>{{references.nomAn}}</td>
    <td>{{references.utilisateur}}</td>
    <td>{{references.operation}}</td>
    <td>{{references.isSelected}}</td>
    <td>{{references.isDeleted}}</td>
    <td>{{references.createdDate}}</td>
    <td>{{references.createdBy}}</td>
    <td>{{references.updatedDate}}</td>
    <td>{{references.updatedBy}}</td>
    <td>{{references.action}}

      <a mat-icon-button color="warn"  [routerLink]="['/detailsReference', references.id]">

        <mat-icon>visibility</mat-icon>
      </a>

      <a mat-icon-button color="primary" (click) = "updateRef(references.id)">
        <mat-icon>edit</mat-icon>
      </a>
      <a mat-icon-button color="warn" (click) = "deleteRef(references.id)" >
        <mat-icon>delete</mat-icon>
      </a>


    </td>






  </tr>
  </tbody>
</table>

