

<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="text-primary mb-4">View Acceuil Details</h3>
      <ng-container>
        <div class="mb-3">
          <label class="font-weight-bold">LibAr:</label> {{ acceuil.libAr }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">LibFr:</label> {{ acceuil.libFr }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">LibAn:</label> {{ acceuil.libAn }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Utilisateur:</label> {{ acceuil.utilisateur }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Operation:</label> {{ acceuil.operation }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Is Selected:</label> {{ acceuil.isSelected }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Created Date:</label> {{ acceuil.createdDate }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Created By:</label> {{ acceuil.createdBy }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Updated Date:</label> {{ acceuil.updatedDate }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Updated By:</label> {{ acceuil.updatedBy }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Is Deleted:</label> {{ acceuil.isDeleted }}
        </div>
      </ng-container>
    </div>
  </div>
</div>

