
<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="text-primary mb-4">View Activity Details</h3>
      <ng-container>
        <div class="mb-3">
          <label class="font-weight-bold">Code:</label> {{ activities.code }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">LibAr:</label> {{ activities.libAr }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">LibFr:</label> {{ activities.libFr }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">LibAn:</label> {{ activities.libAn }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Utilisateur:</label> {{ activities.utilisateur }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Operation:</label> {{ activities.operation }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Is Selected:</label> {{ activities.isSelected }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Created Date:</label> {{ activities.createdDate }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Created By:</label> {{ activities.createdBy }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Updated Date:</label> {{ activities.updatedDate }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Updated By:</label> {{ activities.updatedBy }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Is Deleted:</label> {{ activities.isDeleted }}
        </div>
      </ng-container>
    </div>
  </div>
</div>

