
<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="text-primary mb-4">View Expertise Details</h3>
      <ng-container>

        <div class="mb-3">
          <label class="font-weight-bold">LibAr:</label> {{ expertise.libAr }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">LibFr:</label> {{ expertise.libFr }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">LibAn:</label> {{ expertise.libAn }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Utilisateur:</label> {{ expertise.utilisateur }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Operation:</label> {{ expertise.operation }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Is Selected:</label> {{ expertise.isSelected }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Created Date:</label> {{ expertise.createdDate }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Created By:</label> {{ expertise.createdBy }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Updated Date:</label> {{ expertise.updatedDate }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Updated By:</label> {{ expertise.updatedBy }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Is Deleted:</label> {{ expertise.isDeleted }}
        </div>
      </ng-container>
    </div>
  </div>
</div>

