
<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="text-primary mb-4">View Actualite Details</h3>
      <ng-container>
        <div class="mb-3">
          <label class="font-weight-bold">LibAr:</label> {{ actualite.libAr }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">LibFr:</label> {{ actualite.libFr }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">LibAn:</label> {{ actualite.libAn }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Utilisateur:</label> {{ actualite.utilisateur }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Operation:</label> {{ actualite.operation }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Is Selected:</label> {{ actualite.isSelected }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Created Date:</label> {{ actualite.createdDate }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Created By:</label> {{ actualite.createdBy }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Updated Date:</label> {{ actualite.updatedDate }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Updated By:</label> {{ actualite.updatedBy }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Is Deleted:</label> {{ actualite.isDeleted }}
        </div>
      </ng-container>
    </div>
  </div>
</div>

