

<h2>Acceuil List</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>libAr</th>
    <th>libFr</th>
    <th>libAn</th>
    <th>utilisateur</th>
    <th>operation</th>
    <th>isSelected</th>
    <th>isDeleted</th>
    <th>createdDate</th>
    <th>createdBy</th>
    <th>updatedDate</th>
    <th>updatedBy</th>
    <th>Action</th>


  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let acceuil of acceuil">
    <td>{{acceuil.libAr}}</td>
    <td>{{acceuil.libFr}}</td>
    <td>{{acceuil.libAn}}</td>
    <td>{{acceuil.utilisateur}}</td>
    <td>{{acceuil.operation}}</td>
    <td>{{acceuil.isSelected}}</td>
    <td>{{acceuil.isDeleted}}</td>
    <td>{{acceuil.createdDate}}</td>
    <td>{{acceuil.createdBy}}</td>
    <td>{{acceuil.updatedDate}}</td>
    <td>{{acceuil.updatedBy}}</td>
    <td>{{acceuil.action}}
       <a mat-icon-button color="warn" [routerLink]="['/addAcceuil']">
         <mat-icon>add_box</mat-icon>
       </a>

      <a mat-icon-button color="primary" (click) = "updateAcceuil(acceuil.id)">
        <mat-icon>edit</mat-icon>
      </a>
       <a mat-icon-button color="warn" (click) = "deleteAcceuil(acceuil.id)" >
         <mat-icon>delete</mat-icon>
       </a>

     </td>





  </tr>
  </tbody>
</table>






