
<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="text-primary mb-4">View Diagnostic Details</h3>
      <ng-container>
        <div class="mb-3">
          <label class="font-weight-bold">Titre:</label> {{ diagnostic.titre }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">LibAr:</label> {{ diagnostic.libAr }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">LibFr:</label> {{ diagnostic.libFr }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">LibAn:</label> {{ diagnostic.libAn }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Utilisateur:</label> {{ diagnostic.utilisateur }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Operation:</label> {{ diagnostic.operation }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Is Selected:</label> {{ diagnostic.isSelected }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Created Date:</label> {{ diagnostic.createdDate }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Created By:</label> {{ diagnostic.createdBy }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Updated Date:</label> {{ diagnostic.updatedDate }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Updated By:</label> {{ diagnostic.updatedBy }}
        </div>
        <div class="mb-3">
          <label class="font-weight-bold">Is Deleted:</label> {{ diagnostic.isDeleted }}
        </div>
      </ng-container>
    </div>
  </div>
</div>

